body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
}
.forheader {
    position: absolute;
    background-color: #ebebeb;
    text-align: center;
    padding: 30px;
    width: 800px;
    left: 20%;
}

.fornav {
    position: absolute;
    background-color: #ebebeb;
    text-align: center;
    padding: 30px;
    width: 800px;
    left: 20%;
    margin-top: 130px;
}

.forsection {
    position: absolute;
    background-color: #ebebeb;
    text-align: center;
    padding-top: 0px;
    width: 500px;
    height: 340px;
    left: 20%;
    margin-top: 260px;
}

.forarticle {
    position: absolute;
    color: #ebebeb;
    background-color: #777;
    text-align: center;
    padding-top: 0px;
    width: 400px;
    height: 230px;
    left: 10%;
    margin-top: 10px;
}

.forheadings {
    position: absolute;
    background-color: #ebebeb;
    color: #777;
    text-align: center;
    width: 340px;
    height: 60px;
    left: 8%;
    padding-top: 5px;
    margin-top: 0px;
}

.forp {
    position: absolute;
    background-color: #ebebeb;
    color: #777;
    text-align: center;
    width: 340px;
    height: 60px;
    left: 8%;
    padding-top: 5px;
    margin-top: 80px;
}

.foraside {
    position: absolute;
    background-color: #ebebeb;
    color: #777;
    text-align: center;
    padding-top: 20px;
    width: 340px;
    height: 320px;
    margin-left: 782px;
    margin-top: 260px;
}

.forfooter {
    position: absolute;
    background-color: #ebebeb;
    text-align: center;
    padding: 30px;
    width: 800px;
    left: 20%;
    margin-top: 620px;
    margin-bottom: 100px;
}